.portal-header {
  position: fixed;           
  top: 0;                    
  left: 0;                   
  right: 0; 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: whitesmoke;
  height: 80px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.portal-logo {
  width: 60px;
  margin-left: auto;
}


.employer-login-link {
  margin-left: auto;
  margin-right: 10px;
}

.employer-login-link > a {
  text-decoration: none;
  font-weight: 500;
  
}

.employer-login-link > a:hover {
  color: #a69ec6;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  background-color: white;
  padding-bottom: 30px;
  width: 600px;
  border-radius: 20px;
}

.input-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 58px;
  width: 100%;
  margin-top: 30px;
}

.input-heading {
  color: #a69ec6;
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
}

.input-area {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 450px;
  height: 60px;
  background-color: lightgray;
  border-radius: 10px;
}

.input > img {
  margin: 0px 30px;
}

.input > input {
  height: 50px;
  width: 350px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 20px;
  font-weight: 500;
}

.input-checkbox {
  padding-left: 3.6rem;
  font-size: 20px;
  color: #797979;
}

.forget-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forget-password > span{
  color: #a69ec6;
  cursor: pointer;
  font-weight: 600;
}

.submit-area {
  display: flex;
  gap: 30px;
  margin: 50px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 59px;
  color: white;
  background-color: #a69ec6;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.submit:hover {
  background-color: #8e85ad;
}

.lightgray {
  background-color: lightgray;
  color: black;
  box-shadow: 5px 10px #888888;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 5px 40px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.newsletter {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.newsletter-text {
  margin-bottom: 5px;
  color: #a69ec6;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.newsletter-form input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 220px;
  background-color: lightgray;
}

.newsletter-form button {
  padding: 10px 22px;
  border: none;
  background-color: #a69ec6;
  color: white;
  border-radius: 17px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #8e85ad;
}
