#root {
  margin: 0;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(#a5a5c2, #d6b8bf);
    background-size: cover;
}