#root {
  margin: 0;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 150vh;
    background: linear-gradient(#c8c8dc,#eedbe1);
    background-size: cover;
}